<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="Andrew Bentley" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="canonical" href="{{ .Permalink }}" />

    {{ block "ciritical-css" . }}
      {{ with resources.Get "css/critical.css" | minify }}
        <style>{{ .Content | safeCSS }}</style>
      {{ end }}
    {{ end }}
    {{ block "css" . }}{{ end }}
  </head>

  <body>
    <header>
      <nav>
        {{ $current := . }} {{ range sort .Site.Menus.nav "Weight" }} {{ $active := eq $current.RelPermalink .URL }}
        <a class="{{ if $active }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </header>
    {{ block "main" . }}{{ end }}
  </body>
</html>
